.d_flex {
  &_col, &_row {
    display: flex;
  }

  &_col {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
}

.h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
}


.container {
  padding: 12px 24px;

  &_table {
    margin-top: 24px;

    
  }
}