.d_flex {
  &_col, &_row {
    display: flex;
  }

  &_col {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
}

.h2 {
  font-weight: 700;
  font-size: 24px;
}

.courseinfocard_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
  width: 144px;
  height: 144px;
  border: 1px solid #d1d7dc;
  padding: 24px 8px 16px 24px;
}

.container {

  &_general {
    display: flex;
    width: 100%;
    height: 300px;
    padding: 28px;
    background-color: #1c1d1f;

    &_wrapper {
      display: flex;
      margin: 0 auto;

      &_left {
        //691
        width: 70%;
        padding-right: 12px;
        color: white;

        &_coursename {
          width: 640px;
          margin: 4px 0px !important;
          font-size: 28px;
          font-weight: 700;
          color: white;
          word-spacing: 2px;
        }

        &_coursesummary {
          margin: 8px 0px !important;
          font-size: 15px;
        }

        &_courseinstructor {
          margin: 4px 0px !important;
          font-size: 16px;
        }

        &_courselanguage {
          margin: 6px 0px !important;
        }
      }

      &_right {
        //460
        width: 30%;
        padding: 12px 0px 12px 12px;
        color: white;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-end;

        &_image {
          position: relative;
          width: fit-content;
          height: fit-content;
          cursor: pointer;

          &_detail {
            width: 320px;
            height: 180px;
          }

          &_playbutton {
            position: absolute;
            top: 64px;
            left: 134px;
          }

          &_text {
            position: absolute;
            top: 133px;
            left: 116px;
            font-weight: 600;
            font-size: 16px;
          }
        }


        &_price {
          font-size: 24px;
          font-weight: 600;
          margin-top: 12px;
          text-align: end;
        }
      }
    }
  }

  &_body {
    display: flex;
    width: 100%;
    padding: 16px;

    &_wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      &_top {
        margin-top: 8px;
        display: flex;

        &_left {
          width: 75%;
  
          &_coursegoal {
    
          }
        }
  
        &_right {
          width: 25%;
          display: flex;
          justify-content: center;
  
          &_buttonrollin {
            margin: 24px;
            background-image: linear-gradient(to right, rgb(255, 74, 74), rgb(255, 155, 61));
            box-shadow: 1px 1px 5px;
            border: none;
            font-size: 18px;
            font-weight: 600;
            width: 156px;
            height: 128px;

            &:hover {
              background-image: linear-gradient(to left, rgb(116, 116, 116), rgb(255, 155, 61));
            }
          }
        }
      }
      
      &_bottom {
        display: flex;

        &_left {
          width: 65%;

          &_courseinfocard {
            margin-top: 12px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(144px, 0px));
            gap: 32px;
          }

          &_buttonpreview {
            margin-top: 24px;
          }
        }

        &_right {
          width: 35%;
          display: flex;
          justify-content: center;

          &_courserequirements {
            width: 85%;
          }
        }
      }

      &_courseoutline {
        margin-top: 16px;

        &_list {
          margin-top: 16px;
          border: 1px solid #d1d7dc;
          border-bottom: none;

          &_section {
            background-color: #f7f7f7;
            border-bottom: 0px solid #d1d7dc;

            .courseoutline_list_section_lesson {
              cursor: auto;
              width: inherit;
              background-color: #ffff;
              margin: 0px !important;
              height: 56px !important;
              border-bottom: 1px solid #d1d7dc;

              &_wrapper {
                justify-content: space-between;

              }
            }
          }
        }
      }

      &_coursedescription {
        margin-top: 16px;

        &_detail {
          margin-top: 8px;
          padding: 16px 20px;
          border: 1px dashed #7c7c7c;
        }
      }

      &_coursereview {
        margin-top: 16px;

        &_detail {
          margin-top: 8px;

          &_overall {

            .coursereview_detail_overall_average {
              width: 15%;
              align-items: center;
            }

            .coursereview_detail_overall_progressbarstatistic {
              width: 85%;
            }
          }

          &_content {
            margin-top: 12px;
            padding: 0px 12px;

            .coursereview_detail_content_mostrecent {
              margin-top: 16px;
              display: grid;
              grid-template-columns: repeat(auto-fit, minmax(512px, 0px));
              gap: 2rem;
              row-gap: 2rem;

              &_item {
                border-top: 1px solid #d1d7dc;
                padding: 12px 0px;
                display: grid;
                // width: 288px;

                &_info {

                }

                &_content {
                  padding: 0px 8px;
                  margin-top: 8px;
                  width: 448px;

                }
              }
            }

            .coursereview_detail_content_button {
              margin: 8px 0px;
              padding: 4px 16px;
              border: 1px solid black;
              width: 112px;
              cursor: pointer;

              &:hover {
                background-color: #e7ebed !important;
                transition: 0.4s;
              }
            }
          }
        }
      }

    }
  }
}