.container {
  height: calc(100vh - 80px);
  padding: 42px 12px;
  // text-align: center;

  &_wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &_body {
      padding: 48px 92px;

      &_summary, &_position, &_yoe, &_social {
        margin-top: 24px;
      }
    }
  }
}

.h1 {
  font-size: 30px;
  font-weight: 600;
  margin: 0px 0px 12px 0px;
  color: darkblue
}

.span {
  display: block;
  font-size: 18px;
  color: rgb(212, 186, 37);
}

.Button {
  background-color: skyblue;
}

.image {
  width: 138px;
  height: 42px;
}