.d_flex {
  &_col, &_row {
    display: flex;
  }

  &_col {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
}

.container {
  
}

.form {
  &_item {
    margin-bottom: 12px;
    font-weight: 600;
  }
}