.container {
  width: 576px !important;

  .form {

    &_video {

      &_upload {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        align-items: center;
      }
    }
  }
}