.d_flex {
  &_col, &_row {
    display: flex;
  }

  &_col {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
}

.container {
  width: 576px !important;

  .form {

    &_video {

      &_upload {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        align-items: center;
      }
    }
  }
}