.container {
  margin: 24px;

  &_overview {
    display: flex;
    align-items: center;
    height: fit-content;

    &_left {
      width: 90%;
      height: fit-content;
    }

    &_right {
      display: flex;
      justify-content: flex-end;
      width: 10%;

      .span {
        margin: 0px 12px;
      }
    }
  }

  &_detail {
    margin-top: 24px;

    &_description,
    &_lessons,
    &_summary {
      margin-top: 16px;
    }

    &_summary {

      &_detail {
        margin: 8px 8px;
        font-size: 16px;
      }
    }

    &_description {

      &_detail {
        margin: 8px 8px;
        border: 1px dashed grey;
        padding: 12px 16px;
      }
    }

    &_lessons {

      &_detail {
        margin: 8px 8px;

        &_item {
          margin: 12px 0px;
          padding: 4px 12px 4px 0px;

          &_popup {

            &_row {
              padding: 4px 8px;

              &:hover {
                color: #ff8540;
                cursor: pointer;
                transition: 0.3s;
              }
            }
          }

          &:hover {
            cursor: pointer;
            background-color: lightgray;
            transition: 0.4s;
          }
        }
      }
    }
  }
}

.overview_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 212px;
    width: 377px;
    text-align: left;
    border: 1px solid darkgrey;
  }

  &_right {
    margin: 0px 36px;
    text-align: left;
    width: 80%;
  }
}

.btn {

  &_edit {

    &_small {
      font-size: 16px;
      color: red;
      cursor: pointer;
      padding: 8px;

      &:hover {
        border-radius: 8px;
        background-color: bisque;
        transition: 0.3s;
      }
    }

    &_middle {
      font-size: 16px;
      color: red;
      cursor: pointer;
      padding: 12px;

      &:hover {
        border-radius: 8px;
        background-color: bisque;
        transition: 0.3s;
      }
    }
  }
}

.h1 {
  font-size: 26px;
}