.container {
  margin: 0 auto;

  .form {
    margin: 0 auto;
    width: 390px;
    margin-top: 32px;

    &_label {
      font-size: 15px;
    }

    &_email {
      margin-top: 10px;
    }
  }

  &_bottom {
    margin-top: 8px;
    width: inherit;
  }

  &_button {
    color: white;
    background-color: #53b0db;
  }
  
  .input {
    margin: 6px 0px;
  }
}

.header1 {
  text-align: center;
  padding: 52px;
  font-size: 36px;
  color: white;
  background-image: linear-gradient(to right, rgb(255, 196, 0), rgb(238, 55, 204));
}