/* when sidebar is triggered */
.ant-layout .ant-layout-sider.ant-layout-sider-has-trigger .ant-layout-sider-children .ant-menu .ant-menu-item {
  margin: 0px 0px;
}

/* when sidebar is collapsed (not triggered): ant-ment-item */
.ant-layout .ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-children .ant-menu .ant-menu-item {
  margin: 20px 0px 0px 0px;
}

/* when sidebar is collapsed (not triggered): ant-ment-submenu */
.ant-layout .ant-layout-sider.ant-layout-sider-collapsed .ant-layout-sider-children .ant-menu .ant-menu-submenu {
  margin: 20px 0px 0px 0px;
}

/* when menu item is selected */
.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #0887fd !important;
}

.ant-space.ant-space-horizontal.ant-space-align-center {
  gap: 8px;
  /* width: 22px; */
  /* height: 22px; */
  justify-content: center;
}

.ant-space.ant-space-vertical {
  width: 100%;
}

.ant-dropdown-trigger {
  color: rgb(29, 29, 29);
}

.ant-dropdown-menu-title-content h4 {
  margin: 6px 2px;
}

.ant-modal-close-x {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.ant-modal-close-x:hover {
  margin: 8px;
  width: 40px !important;
  height: 40px !important;
  background-color: bisque;
  border-radius: 15%;
  transition: 0.3s;
}

.ant-modal-body {
  padding: 12px 24px 12px 24px !important;
}

.disable_add_button .ant-upload.ant-upload-select.ant-upload-select-picture-card{
    display: none;
}

.ant-upload-list-item.ant-upload-list-item-done.ant-upload-list-item-list-type-text {
  margin-top: 0px;
}

.ant-menu.ant-menu-dark.menu_freepreview {
  background-color: black;
}

.ant-menu.ant-menu-dark.menu_freepreview .ant-menu-item {
  box-sizing: border-box;
  margin: 0px;
  padding: 8px 12px;
  height: fit-content;
}

.ant-menu.ant-menu-dark.menu_freepreview .ant-menu-item.ant-menu-item-selected {
  background-color: #3e4143 !important;
}

.ant-modal.modal_freepreview .ant-modal-close {
  margin: 4px 4px 0px 0px;
  color: white;
}

.ant-modal.modal_freepreview .ant-modal-close-x:hover {
  background-color: black;
}