.h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: 'Maven Pro', sans-serif;
}

.h2p {
  margin-top: 4px !important;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Maven Pro', sans-serif;
}

.card {
  &_courses {
    margin: 12px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 0px));
    gap: 1.5rem;
    row-gap: 2rem;
  }
}

.carousel {
  display: block;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}